/**/target/
/**/.settings/
/.idea/*
/**/*.iml
/**/MANIFEST.MF
/**/${catalina.base}
/**/null
/**/bin
/**/.project
/**/.classpath
/**/search-api-build.properties
/**/suggest-api-build.properties
.classpath
.project
*.iml
.settings/
.idea/
bin/
target/
**/${catalina.base}
build/
.gradle/
out/
*.log
